$red:#B50000;
$darker-red:#940000;
$lightest-gray:#eceaea;
$light-gray:#999;
body {background:#fff}

a#skipnav 
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
a#skipnav:focus
{
position:static;
width:auto;
height:auto;
} 

.grid-x {
    margin-bottom: 1rem;
}

header {
    background:linear-gradient(180deg, $lightest-gray, #fff);
}

#search-container {
  margin-top:10px;
}

.pagination a, .pagination button {
    display:inline-block;
    padding: 0.85em 1em;
    color:#fff;
}

.pagination form {
    display: inline-block;
}

.pagination input {
    display: inline-block;
    width:2rem;
}

.pagination span {
    display:inline-block;
}

.pagination span.row-count {
    display:block;
}

.image-hover-wrapper {
  position: relative;

  a {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative;
    font-size:2.75rem;
    font-weight: bold;
    color:#fff;
    }

    a:hover {
        color:#fff;
    }

    img {
      float: left;
      overflow: hidden;
      width: 100%;
    }

  .image-hover-wrapper-banner {
    background-color: rgba(153, 153, 153,0.8);
    color: #fff;
    left: 0;
    padding: 1.5rem;
    position: absolute;
    top: 33%;
    width: 75%;
    margin-left:12.5%;
    z-index: 10;
  }
}

.article-list {
    border-right: 1px solid $light-gray;
}

.article-entry {
    border-bottom:1px solid $light-gray;
    margin-bottom:.7rem;
}

.article-list .cell {
    padding:1rem 3rem;
    border-bottom: 1px solid $light-gray;
    text-align: center;
}

.cluster-list-item {
    padding-top:2rem;
    padding-bottom:3rem;
    border-bottom:1px solid $light-gray;
}

.bold {
    font-weight:bold;
}

.italic {
    font-style: italic;
}

h4.subhead {
    font-style:italic;
    font-size:1.25rem;
    color:#777;
    margin-top:-1rem;
    margin-bottom:0;
}
.pullquote {
    font:italic 1.5rem serif;
    // margin:3rem 15%;
    padding-left:1rem;
    border-left:5px solid #1779ba;
}

.footer {
    margin-top:2rem;
    border-top:1px solid $light-gray;
    padding-top:1rem;
}

.last, .cell .last {
    border:none;
}

li, h1, h2, h3, h4, h5 {
        font-family: 'Montserrat', sans-serif;
}
p, div > a  {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size:3rem;
    margin-top:10px;
}

#content h1 {
    font-size:2.5rem;
    color:$red;
}

h2, h3, h4, h5 {
    color:$red;
}

h4 {
    margin-bottom:0;
}

#headings {
    display:block;
}

a {
    color:$red;
}

a:hover, a:focus {
    color:$darker-red;
}

#content a:hover, #content a:focus {
    text-decoration: underline;
}

.menu {
   border-top:1px solid $red;
    margin-bottom: 1rem;
    margin-top:-.5rem;

}

.menu .active > a {
    background: inherit;
    color: $red;
    border-right:1px solid $red;
    border-left:1px solid $red;
    border-bottom:1px solid $red;
}

/*Advanced Search */
#advanced-search .label {
    background:#fff;
    color:#000;
    font-size:1.25rem;
}

.remove-value {
    text-indent: -9999px;
    position: relative;
    width: 45px;
    margin-left: 7.5px;
    height:39px;
}

.remove-value::before {
    text-indent: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 39px;
}

#advanced-search #property-queries .joiner {
    width:100%;
}

#advanced-search .field {
    padding:2rem 0;
    border-bottom:1px solid $red;
}

#advanced-search #page-actions {
    margin-top:1rem;
}



.pullquote {
    border-left:10px solid $red;
    background-color: $lightest-gray;
    font-size:1.5rem;
    color:#4E4C4C;
    padding: 2rem;
    float:right;
}

.button {
    background:$red;
    color:#fff;
    margin-bottom:.25rem;
}

.button:hover, .button:focus, .pagination a:hover, .pagination button:hover {
    background:#4E4C4C;
}

.border {
    border-left: 2px solid #4E4C4C;
    padding-left:1rem;

    a {
        display:block;
    }
}
header {
    background:linear-gradient(180deg, $lightest-gray, #fff);
}

#headings {
    display:block;
}


p > a:hover, p > a:focus {
    text-decoration: underline;
}


.pullquote {
    border-left:10px solid #990000;
    background-color: #eceaea;
    font-size:1.5rem;
    color:#4E4C4C;
    padding: 2rem;
    float:right;
}

.button {
    background:#990000;
    color:#fff;
}

.button:hover {
    background:#4E4C4C;
}

.border {
    border-left: 2px solid #4E4C4C;
    padding-left:1rem;

    a {
        display:block;
    }
}

p.metadata {
    margin-bottom: .25rem; 
}

.metadata-group {
    margin-bottom:1rem;
}